$black-color: #000000;
$grey-color: #9B9B9B;
$red-color: #EC1D23;
$white-color: #FFFFFF;
$offWhite-color: #F4F4F4;
$btnSecondary-backgroundcolor: #D7D7D7;
$btnPrimary-boxshadow-color: #9F9F9F;
$appCard-boxshadow-color: #BFBFBF;
$input-placeholder-color: #707070;
$forgot-link-color: #EC1D25;
$green-color: #27AE60;
$application-hover-color: #CF1D22;
$sub-card-title: #3879C7;
