$btnSecondary-backgroundcolor: #D7D7D7;
$black-color: #000000;

.modal-dialog {
    margin-top: calc(100% - 20vh);
    .modal-header {
        padding: 12px;
        background-color: #ec1d23;
        color: #fff;
        .close {
            color: #fff;
        }
    }
    .modal-body {
        font-size: 16px;
    }
    .modal-footer {
        button {
            margin: 5px 5px;
        }
    }
}
.modal-header .close {
    width: auto;
    box-shadow: none;
}
.btn-secondary, .btn-secondary:focus{
    background-color: $btnSecondary-backgroundcolor;
    color: $black-color;
    box-shadow: none;
}
button:focus {
    outline: none;
}
