.header-bg {
    height: 50vh;
    background-image: url("../../../assets/images/home_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 55%;
    position: absolute;
    width: 100%;
    top: 0;
    min-height: 400px;
  }
  #header-text{
    font-size: 19px;
    color: #fff;
  }