@import "../../../../assets/scss/variable";


.card-title{
  font-size: 24px;
  font-weight: bolder;
  color: $black-color;
  text-align: center;
}

.card-text{
  font-size: 14px;
  color: $black-color;
  text-align: center;
}

.otp-image{
  width: 50%;
  margin: 175px 0px 0px 0px;
}

.successCenter{
  text-align: center;
}
