<div class="header-bg">
  <div class="row">
    <div class="header-img col-12">
      <ng-sidebar-container>

        <!-- A sidebar -->
        <ng-sidebar [opened]="opened">
          <p>Sidebar contents</p>
          <button (click)="toggleSidebar()">Toggle sidebar</button>
        </ng-sidebar>

        <!-- Page content -->
        <div ng-sidebar-content style="padding-left: 10px;display: flex;" class="row">
          <div class="col-2">
            <img src="{{imgBasePath}}notification.svg" (click)="toggleSidebar()" id="Menu"
              alt="Menu Image">
            </div>
          <div class="col-7"  id="header-text">
            {{title}}
          </div>
          <div class=" col-1" style="text-align: center;">
            <img src="{{imgBasePath}}notification.svg" id="notification" alt="Notification Image">
          </div>
          <div class=" col-2" style="text-align: center;">
            <img src="{{imgBasePath}}Logout.svg" (click)="logout()" alt="Logout Image" />
          </div>
        </div>

      </ng-sidebar-container>
    </div>
    <!-- <div class=" _mt-20 col-6">
      <p id="header-text" class="text-center">{{title}}</p>
    </div>
    <div class="header-img col-3">
      <img src="{{imgBasePath}}notification.svg"  id="notification" alt="Notification Image">
      <img src="{{imgBasePath}}Logout.svg" (click)="logout()" alt="Logout Image" />

    </div> -->


  </div>
</div>